APP_PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DBNAME=genuicomm
POSTGRES_MAX_OPEN_CONNECTIONS=5
POSTGRES_MAX_CONN_LIFETIME=10
POSTGRES_MAX_IDLE_LIFETIME=5 

JWt_SECRET=genuicomm